body {
    
    background-image: url(photo2.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /*background-color: #6c757d;*/
}