<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trail App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8c9b8c;">
        <a class="navbar-brand" href="#">Walking Trail</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Account</a>
            </li>
          </ul>
        </div>
      </nav>
      <br><br>
      <div class="card" style="background: rgb(201,238,174);
      background: radial-gradient(circle, rgba(201,238,174,1) 0%, rgba(69,112,67,1) 100%); border: none; width: 50rem; height: 50rem; margin:auto; text-align: center;">
        <div class="card-body">
            <h1 style="color:white;">Hello, Jane</h1>
            <div class="content">
              <img
                src="graph.png"
                alt="graph"
                style="width: 550px; margin: auto;"
              />
            </div>
            <br /><br />
            <h2>Trails In Progress:</h2>
        
            <div class="progressdiv">
              <br />
              <label for="file">Trail 1: Click to continue</label><br>
              <progress id="file" value="50" max="100">50%</progress><br>
              <label for="file">Trail 2: Click to continue</label><br>
              <progress id="file" value="71" max="100">71%</progress>
            </div>
            <a href="url" style="margin-left: 150px">See all trails</a>
            <div class="homepagebtns">
              <button class="hbtn" id="new trail">Begin New Trail</button><br /><br />
            </div>
        </div>
      </div>
      <br><br>
  
    
</body>
</html>